airflow-logs/
logs/
pg-worker/
pg-airflow/
ssh/
.env
variables.py
.DS_Store
mise.local.toml
.vscode/
node_modules/

data-engineering-stack/scripts/build
data-engineering-stack/scripts/import_matomo_metrics.egg-info
data-engineering-stack/scripts/.venv
data-engineering-stack/scripts/venv