airflow-logs/
logs/
pg-worker/
pg-airflow/
ssh/
.env
variables.py
.DS_Store
mise.local.toml
.vscode/
node_modules/

dadosgov/data-engineering-stack/scripts/build
dadosgov/data-engineering-stack/scripts/import_matomo_metrics.egg-info
dadosgov/data-engineering-stack/scripts/venv