airflow-logs/
logs/
pg-worker/
pg-airflow/
ssh/
.env
variables.py
config/variables.json
__pycache__/
.DS_Store
mise.local.toml
.vscode/
node_modules/

scripts/build
scripts/matomo/import_matomo_metrics.egg-info
scripts/import_matomo_metrics.egg-info
scripts/matomo/.venv
scripts/.venv
scripts/venv
